$primary-color: #3F75DE;
$while-color: #fff;

/* Status color */
$info-color: #296EDA;
$success-color: #5FB063;
$warning-color: #E39735;
$error-color: #DA583A;

/* Space */
$spacer: 8px;

/* Prefix */
$prefix: '.fst';