// Media breakpoints defined in settings
$break-md: 1199px !default;
$break-sm: 992px !default;
$break-xs: 768px !default;
$break-mb: 576px !default;

// Media query mixin
@mixin media($screen){

    @if $screen == lg{
        @media ( min-width: $break-md ){
            @content;
        }
    }@else if$screen == md{
        @media ( max-width: $break-md ){
            @content;
        }
    }@else if $screen == sm{
        @media ( max-width: $break-sm ){
            @content;
        }
    }
    @else if $screen == xs{
        @media ( max-width: $break-xs ){
            @content;
        }
    }@else if $screen == mb{
      @media(max-width: $break-mb){
        @content;
      }
    }
} 

// Media query mixin
@mixin media-min($screen){
    @if $screen == lg{
        @media ( min-width: $break-md ){
            @content;
        }
    }@else if$screen == md{
        @media ( min-width: $break-md ){
            @content;
        }
    }@else if $screen == sm{
        @media ( min-width: $break-sm ){
            @content;
        }
    }
    @else if $screen == xs{
        @media ( min-width: $break-xs ){
            @content;
        }
    }@else if $screen == mb{
      @media(max-width: $break-mb){
        @content;
      }
    }
}
